@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; 
  table-layout: fixed;
}

td {
  padding: 0;
  overflow: hidden;     /* Hide any overflowing text */
  text-overflow: ellipsis;  /* Show ellipsis (...) if the text is too long */
  white-space: nowrap;  /* Prevent text from wrapping to a new line */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
